@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #060606;
}

h1 {
  font-size: 2.25rem !important;
  font-weight: 700 !important;
}
h2 {
  font-size: 1.875rem !important;
  font-weight: 600 !important;
}
h3 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}
h4 {
  font-size: 1.25rem !important;
  font-weight: 500 !important;
}
h5 {
  font-size: 1.125rem !important;
  font-weight: 500 !important;
}
h6 {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.right h5 {
  color: #ffffff;
}

.right p {
  color: #9b9b9b;
}

.react-datepicker.w-full {
  width: 100% !important;
}

.react-datepicker__month-container {
  width: 100% !important;
}
.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__current-month {
  font-size: 1rem;
  width: 100%;
}

/* Toast in BCrypt */
@layer utilities {
  .animate-fade-in-out {
    animation: fadeInOut 3s ease-in-out forwards;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

/* Text Case Converter */
.text-area{
  resize: none;
}
